{% extends "layout.html" %}

{% block content %}
<p>新着100件表示</p>

<center>
<table border>
{% for n in names %}
  <tr> 
    <td> {{ n.id }} </td>
    <td> {{ n.creationtime }} </td>
    <td> {{ n.authorhandle }} </td>
    <td> <a href="http://codeforces.com/blog/entry/{{ n.id }}">{{ n.title }} </a> </td>
  </tr>
{% else %}
{% endfor %}
</table>
</center>

{% endblock %}